PUBLIC_MODE=true
PORT=8787
XUNFEI_APP_ID=
XUNFEI_API_KEY=
XUNFEI_API_SECRET=
XFYUN_LLM_API_BASE=https://maas-api.cn-huabei-1.xf-yun.com/v2
XFYUN_LLM_API_KEY=
XFYUN_LLM_MODEL_ID=
LLM_TIMEOUT_MS=20000
LLM_MAX_CONCURRENCY=2
